*{
	margin: 0 auto;
	padding: 0;
	
}
.splatter{
	background-image: url("https://wallpapertag.com/wallpaper/full/2/1/c/507672-free-download-splatter-paint-wallpaper-1920x1200-iphone.jpg");
}
.brick{
	background-image: url("https://cdn.discordapp.com/attachments/1032841694279909388/1033092213376303165/brick.jpg");
}

.img{
	padding: 15px;
	width: 100px;
	height: 250px;
}
.font{
	color: white;
}